body * {
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

/*
Add some style blocks below this line to style the cards.
Feel free to borrow from Exercise 1.
*/

section {
    box-sizing: border-box;
    border: solid 1px #CCC; 
    width: 39vh;
    height: 70;   
}

p {
    font-weight: bold;
    margin-left: 20px;
    margin-right: 30px;
}

h2 {
    margin-left: 20px;
}

button {
    margin: 20px;
}

main {
    float: left;
    width: 1000px;
}


/* Tablet Media Query */
@media only screen and (max-width: 1000px) {
    main {
        width: 1000;
        flex-direction: row;
    }
}

/* Mobile Phone Media Query */
@media only screen and (max-width: 600px) {
    main {
        width: 600;
        flex-direction: row;
    }
}